@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 800;
  color: #20212c;
}

.navbar {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  background: -webkit-linear-gradient(
    rgba(240, 46, 78, 0.527),
    rgba(254, 0, 0, 0.863)
  );
  font-weight: 600;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

/* Hero Section */

section {
  padding-top: 140px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(240, 46, 78, 0.527), rgba(254, 0, 0, 0.863));
  z-index: -1;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-main {
  padding: 14px 22px;
  background: red;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: #fff;
  transition: all 0.4s ease !important;
}

.btn-main:hover {
  color: red;
  background-color: #fff;
  transform: scale(1.1);
}

/* Services Section Starts */
.service {
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
  box-shadow: 2px 4px 4px 2px rgb(180, 180, 180);
}
.service:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(
    to right,
    rgba(240, 46, 78, 0.527),
    rgba(254, 0, 0, 0.863)
  );
  margin: 16px auto;
}

img {
  width: 100%;
}

.service .service-img .icon {
  width: 90px;
  height: 90px;
  background: linear-gradient(
    to right,
    rgba(240, 46, 78, 0.527),
    rgba(254, 0, 0, 0.863)
  );
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .service-img .icon i {
  font-size: 36px;
}

.service .service-img {
  position: relative;
}

.service .service-img .icon {
  position: absolute;
  margin-top: -45px;
  left: 50%;
  transform: translate(-50%);
}

/* About Section */

.video-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(
    to right,
    rgba(240, 46, 78, 0.527),
    rgba(254, 0, 0, 0.863)
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 100px;
}

.video-btn i {
  font-size: 32px;
}

/* Feature Section */

.feature i {
  background: -webkit-linear-gradient(
    rgba(240, 46, 78, 0.527),
    rgba(254, 0, 0, 0.863)
  );

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  font-size: 54px;
}

/* review Section */

.review .person {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 18px;
}

.review .person img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

.review {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.review .stars {
  color: orange;
}

/* Form Section */

form .form-control {
  border-radius: 0;
  background: transparent;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}

form .form-control::placeholder {
  color: #fff;
}

form input.form-control {
  height: 54px;
}

form .form-control:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

/* Footer */

footer {
  background: #fff;
  color: #222;
}

footer a {
  color: red;
  font-size: 22px;
  padding: 10px;
}
footer a:hover {
  color: #222;
}
